

#div1{
    border: 2px solid black;
    width: 30%;
    padding: 20px;
    background: #ebdede;
    border-radius:20px ;
   margin-left: 650px;
    margin-top: 300px;
    /* width: auto */

}
/* input{
    margin: 10px;
} */
#name{
    width: auto;
    float: right;
}
#email{
     width: auto;
    float: right;
}
#address{
     width: auto;
    float:right;
}
#religion{
      width: auto;
    float:right;
}
#Phone-number{
      width: auto;
    float: right;
}
#button{
    width: 100%
}
#submit{
    width: 100%;
}